body {
    background-color: black;
    
}
nav {
    position: absolute;
    text-align: left;
    vertical-align: top, text-top;
}
ptext {
    font-family: 'Comic Sans', 'Comic Sans MS';
}
imag {
    position: center, absolute, fixed;
}